@import "../../responsive.scss";

.listPage {
  display: flex;
  // justify-content: center;

  height: 100%;

  .listContainer {
    flex: 3;
    height:100%;
    width: 100%;

    .wrapper{
      height: 100%;
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      overflow-y: scroll;
      padding-bottom: 50px;
    }
  }
  .mapContainer {
    flex: 2;
    height: 100%;
    background-color: #fcf5f3;

    @include md{
      display: none;
    }
  }
  
.map {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
}
